@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Quicksand", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase; }

p {
  font-weight: 400;
  color: #1A171B;
  font-size: 15px;
  font-size: 0.9375rem; }
  p.call {
    font-size: 13px;
    font-size: 0.8125rem;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 0; }
    @media (max-width: 991px) {
      p.call {
        text-align: center;
        font-size: 12px;
        font-size: 0.75rem;
        margin-bottom: 40px; } }
  p.texto-negro {
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    font-size: 0.8125rem;
    letter-spacing: 4px;
    text-transform: none;
    margin: 0; }

.slider {
  position: relative; }
  .slider .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    z-index: 1; }
  .slider .carousel-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2; }
    .slider .carousel-info .carousel-info-inner {
      text-align: center; }
      .slider .carousel-info .carousel-info-inner h2 {
        font-weight: 700;
        color: white;
        font-size: 38px;
        font-size: 2.375rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 40px; }
        @media (max-width: 767px) {
          .slider .carousel-info .carousel-info-inner h2 {
            font-size: 32px;
            font-size: 2rem; } }
      .slider .carousel-info .carousel-info-inner .btn-slider {
        border: 1px solid white;
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        color: white;
        font-size: 14px;
        font-size: 0.875rem;
        border-radius: 0;
        letter-spacing: 4px;
        cursor: pointer; }
        @media (max-width: 767px) {
          .slider .carousel-info .carousel-info-inner .btn-slider {
            font-size: 10px;
            font-size: 0.625rem; } }

/* slider */
.divisor {
  display: block;
  height: 2px; }

.link {
  transition: all 0.2s ease-in-out;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  font-size: 10px;
  font-size: 0.625rem;
  border-bottom: 1px solid #000000;
  margin-top: 30px;
  line-height: 20px; }
  .link:hover, .link:focus {
    text-decoration: none;
    color: #86754D; }
  .link:hover {
    border-bottom-color: #86754D; }

#return-to-top {
  position: absolute;
  bottom: -55px;
  right: 15px;
  display: block;
  text-decoration: none;
  display: block;
  display: none;
  transition: all 0.3s ease;
  z-index: 100;
  font-weight: 400;
  color: black;
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 4px;
  text-transform: uppercase; }
  #return-to-top .fa-chevron-up {
    color: #fff;
    margin: 0;
    position: absolute;
    position: absolute;
    right: 0;
    top: -20px;
    font-size: 18px;
    color: black;
    transition: all 0.3s ease; }
  #return-to-top:hover .fa-chevron-up {
    top: -24px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1300px; } }

.overflow-hidden {
  overflow: hidden !important;
  display: block; }

.negrita {
  font-weight: bold; }

.underline {
  display: inline-block;
  line-height: 8px;
  border-bottom: 1px solid #000000;
  padding: 0 0 7px 0; }

.no-padding {
  padding: 0 !important;
  display: block !important; }

.no-margin {
  margin: 0 !important;
  display: block !important; }

.clear {
  clear: both; }

.bg-gris {
  background-color: #F7F0F1; }

.bg-blue {
  background-color: blue; }

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center; }
  @media (max-width: 1024px) {
    input[type="email"]::-webkit-input-placeholder,
    input[type="text"]::-webkit-input-placeholder,
    input[type="password"]::-webkit-input-placeholder {
      font-size: 11px;
      font-size: 0.6875rem; } }

input[type="email"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center; }
  @media (max-width: 1024px) {
    input[type="email"]::-moz-placeholder,
    input[type="text"]::-moz-placeholder,
    input[type="password"]::-moz-placeholder {
      font-size: 11px;
      font-size: 0.6875rem; } }

input[type="email"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center; }
  @media (max-width: 1024px) {
    input[type="email"]:-ms-input-placeholder,
    input[type="text"]:-ms-input-placeholder,
    input[type="password"]:-ms-input-placeholder {
      font-size: 11px;
      font-size: 0.6875rem; } }

input[type="email"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center; }
  @media (max-width: 1024px) {
    input[type="email"]:-moz-placeholder,
    input[type="text"]:-moz-placeholder,
    input[type="password"]:-moz-placeholder {
      font-size: 11px;
      font-size: 0.6875rem; } }

.section {
  padding: 2rem 0 4rem 0; }

.linea {
  width: 100%;
  height: 2px;
  border-top: 1px solid #86754D;
  display: block; }

.titulo-con-imagen {
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 0;
  height: 28px;
  padding: 0 40px;
  z-index: 1; }
  .titulo-con-imagen h3 {
    font-weight: 400;
    color: #86754D;
    font-size: 13px;
    font-size: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    margin: 0;
    z-index: 1; }
  .titulo-con-imagen .hojas {
    width: 151px;
    height: 68px;
    background: url(../img/hojas.svg) no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 10;
    z-index: -1; }

/*set a border on the images to prevent shifting*/
.img-zoom-wrapper {
  position: relative; }
  .img-zoom-wrapper .fa-search-plus {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #000000; }

.uppercase {
  text-transform: uppercase !important; }

.uppercase-bold {
  font-family: "Quicksand", Helvetica, Arial, sans-serif !important;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #000000 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important; }

.texto-valor {
  font-family: "Quicksand", Helvetica, Arial, sans-serif !important;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #000000 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important; }

.divisor {
  width: 100%;
  padding: 0 15px;
  height: 2px;
  border-top: 1px solid #000000;
  margin: 30px 15px; }

td.border-top-cafe {
  border-top: 1px solid #86754D !important; }

section.nav-top-wrapper {
  background-color: #F7F0F1; }
  section.nav-top-wrapper .nav-top {
    min-height: 30px; }
    section.nav-top-wrapper .nav-top .nav-top-carro-wrapper .fa-circle {
      font-size: 24px;
      margin-top: 3px; }
    section.nav-top-wrapper .nav-top .nav-top-carro-wrapper .fa-inverse {
      font-family: "Quicksand", Helvetica, Arial, sans-serif;
      font-weight: 400;
      color: white;
      font-size: 12px;
      margin-top: -1px; }
    section.nav-top-wrapper .nav-top .nav-top-carro-wrapper a {
      font-weight: 400;
      color: #000000;
      font-size: 12px;
      font-size: 0.75rem;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      color: #000000;
      cursor: pointer;
      letter-spacing: 4px; }
      section.nav-top-wrapper .nav-top .nav-top-carro-wrapper a:hover, section.nav-top-wrapper .nav-top .nav-top-carro-wrapper a:focus {
        text-decoration: none;
        color: #86754D; }
      @media (max-width: 767px) {
        section.nav-top-wrapper .nav-top .nav-top-carro-wrapper a {
          font-size: 10px;
          font-size: 0.625rem;
          letter-spacing: 2px; } }
    section.nav-top-wrapper .nav-top ul {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      right: 130px;
      min-height: 30px; }
      @media (max-width: 767px) {
        section.nav-top-wrapper .nav-top ul {
          right: auto;
          left: 4px; } }
      section.nav-top-wrapper .nav-top ul li.divider {
        font-size: 12px;
        margin: 0 3px; }
      section.nav-top-wrapper .nav-top ul li a {
        font-weight: 400;
        color: #000000;
        font-size: 11px;
        font-size: 0.6875rem;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        color: #000000;
        cursor: pointer;
        letter-spacing: 4px; }
        section.nav-top-wrapper .nav-top ul li a:hover, section.nav-top-wrapper .nav-top ul li a:focus {
          text-decoration: none;
          color: #86754D; }
        @media (max-width: 767px) {
          section.nav-top-wrapper .nav-top ul li a {
            font-size: 10px;
            font-size: 0.625rem;
            letter-spacing: 2px; } }

.barra-nav-wrapper {
  position: relative;
  background-color: white; }
  @media (min-width: 991px) {
    .barra-nav-wrapper {
      min-height: 160px; } }
  .barra-nav-wrapper .logo-xs {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 10px;
    margin: 0; }
  .barra-nav-wrapper .nav-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 1200px) {
      .barra-nav-wrapper .nav-container {
        max-width: 1300px; } }
    @media (min-width: 991px) {
      .barra-nav-wrapper .nav-container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 100; } }
    .barra-nav-wrapper .nav-container button.navbar-toggler {
      border-color: transparent; }
    .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.nav-link {
      font-weight: 400;
      color: #000000;
      font-size: 13px;
      font-size: 0.8125rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      transition: all 0.2s ease-in-out;
      color: #000000;
      cursor: pointer;
      text-align: right; }
      .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.nav-link:hover, .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.nav-link:focus {
        text-decoration: none;
        color: #86754D; }
      @media (min-width: 992px) {
        .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.nav-link {
          padding-right: 0.8rem;
          padding-left: 0.8rem;
          text-align: left; } }
    .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.dropdown-item {
      font-weight: 400;
      color: #000000;
      font-size: 11px;
      font-size: 0.6875rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: right;
      padding: 0.3rem 0.5rem;
      border-bottom: 1px solid transparent;
      transition: all 0.2s ease-in-out;
      color: #000000;
      cursor: pointer; }
      .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.dropdown-item:hover, .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.dropdown-item:focus {
        text-decoration: none;
        color: #86754D; }
      .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.dropdown-item:hover, .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.dropdown-item:focus {
        border-bottom: 1px solid #86754D; }
      @media (max-width: 991px) {
        .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li a.dropdown-item {
          text-align: right; } }
    .barra-nav-wrapper .nav-container #main-nav-wrapper ul#main-nav li .dropdown-menu {
      background-color: white;
      border-radius: 0;
      top: 25px;
      left: -46px;
      border: none; }

a {
  display: inline-block; }
  a.back {
    background: url(../img/arrow-left.svg) no-repeat;
    display: block;
    width: 13px;
    height: 24px;
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px; }

.form-section {
  margin-bottom: 3rem; }
  .form-section img {
    margin-bottom: 20px; }
  .form-section h2 {
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin-bottom: 30px;
    line-height: 24px; }
  .form-section p {
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    font-size: 0.8125rem;
    letter-spacing: 4px;
    margin-bottom: 0;
    margin-bottom: 0.5rem; }
    .form-section p a {
      transition: all 0.2s ease-in-out;
      color: #000000;
      cursor: pointer;
      font-size: 13px;
      font-size: 0.8125rem;
      font-weight: bold;
      color: #ECCCD0 !important;
      text-transform: uppercase;
      border-bottom: 1px solid #ECCCD0;
      padding-bottom: 2px;
      display: inline-block; }
      .form-section p a:hover, .form-section p a:focus {
        text-decoration: none;
        color: #86754D; }
      .form-section p a:hover {
        color: #86754D !important;
        border-bottom-color: #86754D; }
  .form-section label {
    margin-bottom: 20px !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
    font-size: 0.8125rem; }

form#form-suscribe {
  border: 1px solid #000000; }
  form#form-suscribe.form-inline {
    display: block; }
    form#form-suscribe.form-inline .form-control {
      border: none;
      background-color: transparent; }
    form#form-suscribe.form-inline .btn-primary {
      background-color: #000000;
      border: none;
      text-transform: uppercase;
      color: white;
      font-weight: 400;
      color: white;
      font-size: 11px;
      font-size: 0.6875rem;
      border-radius: 0;
      letter-spacing: 4px;
      cursor: pointer; }

section.crear-cuenta {
  background-color: #ECCCD0;
  padding-bottom: 45px; }
  section.crear-cuenta h2 {
    font-weight: 400;
    color: black;
    font-size: 36px;
    font-size: 2.25rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    padding: 45px 0;
    border-bottom: 1px solid #000000; }
  section.crear-cuenta p {
    font-size: 11px;
    font-size: 0.6875rem;
    color: black;
    letter-spacing: 4px;
    text-align: center; }

form#form-crear-cuenta, form#form-modal-news-letter {
  margin: 0 auto;
  max-width: 700px;
  padding: 50px 0 20px 0; }
  form#form-crear-cuenta label, form#form-modal-news-letter label {
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    font-size: 13px;
    font-size: 0.8125rem;
    letter-spacing: 4px; }
  form#form-crear-cuenta .form-control, form#form-modal-news-letter .form-control {
    border: 1px solid black;
    border-radius: 0; }
  form#form-crear-cuenta .boton-negro, form#form-modal-news-letter .boton-negro {
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    color: white;
    font-size: 11px;
    font-size: 0.6875rem;
    border-radius: 0;
    letter-spacing: 4px;
    cursor: pointer;
    font-size: 13px;
    font-size: 0.8125rem;
    padding-left: 50px;
    padding-right: 50px; }
    @media (max-width: 518px) {
      form#form-crear-cuenta .boton-negro, form#form-modal-news-letter .boton-negro {
        margin-top: 20px; } }

form#form-modal-news-letter {
  padding-top: 20px;
  max-width: 80%; }

/*==== form info ====*/
#form-info .form-control {
  border: 1px solid #000000;
  border-radius: 0 !important; }

#form-info select {
  border-radius: 0; }
  #form-info select.form-control {
    border: 1px solid #000000;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-size: 0.875rem;
    border: 1px solid #000000;
    font-size: 12px; }

#form-info .btn-comprar {
  background-color: #000000;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  color: white;
  font-size: 11px;
  font-size: 0.6875rem;
  border-radius: 0;
  letter-spacing: 4px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 13px;
  font-size: 0.8125rem; }

#form-carro input[type="email"]::-webkit-input-placeholder,
#form-carro input[type="text"]::-webkit-input-placeholder,
#form-carro input[type="password"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: left; }
  @media (max-width: 1024px) {
    #form-carro input[type="email"]::-webkit-input-placeholder,
    #form-carro input[type="text"]::-webkit-input-placeholder,
    #form-carro input[type="password"]::-webkit-input-placeholder {
      font-size: 11px;
      font-size: 0.6875rem; } }

#form-carro input[type="email"]::-moz-placeholder,
#form-carro input[type="text"]::-moz-placeholder,
#form-carro input[type="password"]::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: left; }
  @media (max-width: 1024px) {
    #form-carro input[type="email"]::-moz-placeholder,
    #form-carro input[type="text"]::-moz-placeholder,
    #form-carro input[type="password"]::-moz-placeholder {
      font-size: 11px;
      font-size: 0.6875rem; } }

#form-carro input[type="email"]:-ms-input-placeholder,
#form-carro input[type="text"]:-ms-input-placeholder,
#form-carro input[type="password"]:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: left; }
  @media (max-width: 1024px) {
    #form-carro input[type="email"]:-ms-input-placeholder,
    #form-carro input[type="text"]:-ms-input-placeholder,
    #form-carro input[type="password"]:-ms-input-placeholder {
      font-size: 11px;
      font-size: 0.6875rem; } }

#form-carro input[type="email"]:-moz-placeholder,
#form-carro input[type="text"]:-moz-placeholder,
#form-carro input[type="password"]:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: left; }
  @media (max-width: 1024px) {
    #form-carro input[type="email"]:-moz-placeholder,
    #form-carro input[type="text"]:-moz-placeholder,
    #form-carro input[type="password"]:-moz-placeholder {
      font-size: 11px;
      font-size: 0.6875rem; } }

#form-carro .form-control {
  text-align: left;
  border: none;
  border-radius: 0 !important; }
  #form-carro .form-control:hover, #form-carro .form-control:focus {
    outline: none; }

section.slider-home #slider-home {
  position: relative; }
  section.slider-home #slider-home .item {
    position: relative; }
  section.slider-home #slider-home .owl-nav {
    margin: 0; }
    section.slider-home #slider-home .owl-nav.disabled {
      display: none; }
  section.slider-home #slider-home .owl-dots {
    margin-top: 16px;
    margin-bottom: 10px; }
    section.slider-home #slider-home .owl-dots.disabled {
      display: none; }
    section.slider-home #slider-home .owl-dots .owl-dot span {
      background: #86754D;
      border-radius: 50px;
      height: 10px;
      width: 10px;
      cursor: pointer; }
      @media (max-width: 767px) {
        section.slider-home #slider-home .owl-dots .owl-dot span {
          margin-left: 5px;
          margin-right: 5px; } }
    section.slider-home #slider-home .owl-dots .owl-dot.active span {
      background-color: #ECCCD0; }
  section.slider-home #slider-home .owl-next, section.slider-home #slider-home .owl-prev {
    width: 43px;
    height: 44px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    opacity: 0.9; }
    section.slider-home #slider-home .owl-next:hover, section.slider-home #slider-home .owl-prev:hover {
      background-color: transparent;
      opacity: 0.5; }
  section.slider-home #slider-home .owl-next {
    background: url(../img/next.png) no-repeat !important;
    right: 30px; }
    @media (max-width: 1024px) {
      section.slider-home #slider-home .owl-next {
        right: 30px;
        margin-top: -30px !important; } }
    @media (max-width: 768px) {
      section.slider-home #slider-home .owl-next {
        right: 10px; } }
  section.slider-home #slider-home .owl-prev {
    background: url(../img/prev.png) no-repeat !important;
    left: 30px; }
    @media (max-width: 1024px) {
      section.slider-home #slider-home .owl-prev {
        margin-top: -30px !important; } }
    @media (max-width: 768px) {
      section.slider-home #slider-home .owl-prev {
        left: 10px; } }

section.about {
  margin-bottom: 3rem; }
  @media (max-width: 1024px) {
    section.about img {
      margin: 0 auto;
      width: 100%; } }
  section.about .content-about {
    background-color: #F7F0F1;
    padding: 6rem 3rem 2rem 3rem; }
    @media (max-width: 1024px) {
      section.about .content-about {
        padding: 3rem; } }
    @media (max-width: 1023px) {
      section.about .content-about {
        padding: 2rem; } }
    section.about .content-about p {
      font-size: 15px;
      font-size: 0.9375rem; }

.content-menu {
  margin-bottom: 4rem; }

.caluga {
  overflow: hidden; }
  @media (max-width: 767px) {
    .caluga {
      margin-bottom: 15px; } }
  .caluga a.caluga-enlace {
    position: relative;
    display: block;
    cursor: pointer; }
    .caluga a.caluga-enlace .caluga-title {
      font-weight: 400;
      color: #FFFEFD;
      font-size: 55px;
      font-size: 3.4375rem;
      letter-spacing: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: all 0.3s ease-in-out;
      z-index: 1; }
      @media (max-width: 1024px) {
        .caluga a.caluga-enlace .caluga-title {
          font-size: 33px;
          font-size: 2.0625rem;
          opacity: 1;
          top: 50%;
          transition: none; } }
      @media (max-width: 768px) {
        .caluga a.caluga-enlace .caluga-title {
          font-size: 26px;
          font-size: 1.625rem; } }
      @media (max-width: 767px) {
        .caluga a.caluga-enlace .caluga-title {
          font-size: 33px;
          font-size: 2.0625rem; } }
    .caluga a.caluga-enlace .caluga-img {
      transform: scale(1);
      transition: all 0.5s ease-in-out;
      width: 100%; }
    @media (min-width: 1025px) {
      .caluga a.caluga-enlace:hover .caluga-img {
        transform: scale(1.05); } }

/*== modal newsletter == */
#modal-news-letter .modal-dialog, #modal-login .modal-dialog {
  position: relative;
  margin-top: 100px;
  padding: 10px;
  background-color: #fff; }
  @media (min-width: 576px) {
    #modal-news-letter .modal-dialog, #modal-login .modal-dialog {
      max-width: 650px; } }
  #modal-news-letter .modal-dialog .modal-content, #modal-login .modal-dialog .modal-content {
    position: relative;
    border-radius: 0;
    border: 2px solid #000000; }
    #modal-news-letter .modal-dialog .modal-content img.hojas, #modal-login .modal-dialog .modal-content img.hojas {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 374.415px;
      max-width: 100%;
      height: 169.827px;
      z-index: 0;
      top: 210px;
      z-index: -1; }
    #modal-news-letter .modal-dialog .modal-content .modal-header, #modal-login .modal-dialog .modal-content .modal-header {
      border-bottom-color: white; }
      #modal-news-letter .modal-dialog .modal-content .modal-header button.close, #modal-login .modal-dialog .modal-content .modal-header button.close {
        background: url(../img/close.svg) no-repeat;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        display: block;
        z-index: 3; }
    #modal-news-letter .modal-dialog .modal-content .modal-body, #modal-login .modal-dialog .modal-content .modal-body {
      z-index: 1; }
      #modal-news-letter .modal-dialog .modal-content .modal-body h3, #modal-login .modal-dialog .modal-content .modal-body h3 {
        font-weight: 400;
        color: #000000;
        font-size: 36px;
        font-size: 2.25rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 4px; }
        @media (max-width: 768px) {
          #modal-news-letter .modal-dialog .modal-content .modal-body h3, #modal-login .modal-dialog .modal-content .modal-body h3 {
            font-size: 30px;
            font-size: 1.875rem; } }
      #modal-news-letter .modal-dialog .modal-content .modal-body p, #modal-login .modal-dialog .modal-content .modal-body p {
        text-align: center;
        font-size: 13px;
        font-size: 0.8125rem;
        margin-bottom: 0; }
    #modal-news-letter .modal-dialog .modal-content .modal-footer, #modal-login .modal-dialog .modal-content .modal-footer {
      border-top-color: white; }

/*== modal login == */
#modal-login .modal-dialog .modal-content img.hojas {
  top: 130px; }

#modal-login .modal-body {
  text-align: center; }
  #modal-login .modal-body h3 {
    margin-bottom: 30px; }
  #modal-login .modal-body #form-modal-login {
    max-width: 80%;
    margin: 0 auto; }
    #modal-login .modal-body #form-modal-login .form-control {
      border: 1px solid #000000;
      border-radius: 0; }
  #modal-login .modal-body .boton-negro {
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    color: white;
    font-size: 11px;
    font-size: 0.6875rem;
    border-radius: 0;
    letter-spacing: 4px;
    cursor: pointer;
    margin-top: 30px; }

/*== modal producto == */
#modal-producto .modal-dialog {
  padding: 10px;
  background-color: white;
  position: relative;
  margin-top: 100px; }
  @media (min-width: 576px) {
    #modal-producto .modal-dialog {
      max-width: 650px; } }
  #modal-producto .modal-dialog .modal-content {
    position: relative;
    border-radius: 0;
    border: 2px solid #000000;
    overflow: hidden; }
    #modal-producto .modal-dialog .modal-content .modal-header {
      border-radius: 0;
      border-bottom-color: white;
      position: relative;
      background-color: #F7F0F1;
      width: 100%;
      position: relative;
      padding: 0;
      min-height: 30px; }
      #modal-producto .modal-dialog .modal-content .modal-header .indicador-carrito {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: auto;
        right: 0;
        top: 13px; }
        #modal-producto .modal-dialog .modal-content .modal-header .indicador-carrito p {
          display: inline-block;
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 12px;
          font-size: 0.75rem;
          margin: 0; }
        #modal-producto .modal-dialog .modal-content .modal-header .indicador-carrito .fa-circle {
          font-size: 24px;
          margin-top: 3px; }
        #modal-producto .modal-dialog .modal-content .modal-header .indicador-carrito .fa-inverse {
          font-family: "Quicksand", Helvetica, Arial, sans-serif;
          font-weight: 400;
          color: white;
          font-size: 12px;
          margin-top: -1px; }
    #modal-producto .modal-dialog .modal-content .modal-body {
      z-index: 1; }
      #modal-producto .modal-dialog .modal-content .modal-body img {
        margin-bottom: 30px; }
      #modal-producto .modal-dialog .modal-content .modal-body h3 {
        font-weight: 400;
        color: #000000;
        font-size: 14px;
        font-size: 0.875rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 4px;
        margin-bottom: 40px; }
      #modal-producto .modal-dialog .modal-content .modal-body h2 {
        font-weight: 300;
        color: #000000;
        font-size: 26px;
        font-size: 1.625rem;
        text-transform: uppercase;
        letter-spacing: 4px; }
      #modal-producto .modal-dialog .modal-content .modal-body p {
        font-weight: 700;
        color: #000000;
        font-size: 26px;
        font-size: 1.625rem;
        margin-bottom: 0;
        letter-spacing: 4px; }
      #modal-producto .modal-dialog .modal-content .modal-body .boton-negro {
        background-color: #000000;
        border: none;
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        color: white;
        font-size: 11px;
        font-size: 0.6875rem;
        border-radius: 0;
        letter-spacing: 4px;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        margin: 1rem 0; }
    #modal-producto .modal-dialog .modal-content .modal-footer {
      border-top-color: white; }

footer {
  background-color: #F7F0F1;
  min-height: 320px;
  padding: 2rem 0 0 0;
  position: relative; }
  @media (max-width: 768px) {
    footer {
      padding: 0 0 1.5rem 0; } }
  footer .menu-footer {
    padding: 4rem 0 0 0; }
    @media (min-width: 1024px) {
      footer .menu-footer .container {
        padding: 0 70px; } }
    @media (max-width: 768px) {
      footer .menu-footer {
        padding: 4rem 3rem 0rem 3rem;
        text-align: center; } }
    @media (max-width: 767px) {
      footer .menu-footer {
        padding: 2rem 0 0 0; } }
  footer h2 {
    font-size: 12px;
    font-size: 0.75rem;
    letter-spacing: 4px; }
  footer ul {
    margin-bottom: 0; }
    footer ul li {
      font-size: 11px;
      font-size: 0.6875rem;
      letter-spacing: 4px;
      margin-bottom: 8px; }
      footer ul li:last-child {
        margin-bottom: 0; }
      footer ul li a {
        transition: all 0.2s ease-in-out;
        color: #000000;
        cursor: pointer; }
        footer ul li a:hover, footer ul li a:focus {
          text-decoration: none;
          color: #86754D; }
    footer ul.list-unstyled {
      margin: 10px 0 10px 0; }
    @media (max-width: 991px) {
      footer ul.list-unstyled {
        margin: 20px 0 20px 0; } }
  footer section.copy {
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: -40px;
    background-color: #F7F0F1; }
    footer section.copy ul {
      margin: 0;
      padding: 0; }
      footer section.copy ul li {
        display: inline-block;
        margin-bottom: 0 10px; }
        footer section.copy ul li a {
          transition: all 0.2s ease-in-out;
          color: #000000;
          cursor: pointer; }
          footer section.copy ul li a:hover, footer section.copy ul li a:focus {
            text-decoration: none;
            color: #86754D; }
        @media (max-width: 991px) {
          footer section.copy ul li:nth-child(1) {
            margin-bottom: 20px; }
          footer section.copy ul li:nth-child(2) {
            margin-bottom: 20px; } }
        @media (max-width: 767px) {
          footer section.copy ul li:nth-child(2) {
            margin-bottom: 0px; } }
        @media (max-width: 453px) {
          footer section.copy ul li:nth-child(3) {
            margin-bottom: 20px; } }
    @media (max-width: 991px) {
      footer section.copy {
        text-align: center; } }
