footer{

  background-color: $gris;
  min-height: 320px;
  padding: 2rem 0 0 0;
  position: relative;
  @media(max-width:768px){
    padding:0 0 1.5rem 0;
  }
  .menu-footer{
   // @include centerer(true, true);
     padding: 4rem 0 0 0;
      @media(min-width:1024px){
        .container  {
        padding: 0 70px;
      }
    }
    @media(max-width:768px){
       padding: 4rem 3rem 0rem 3rem;
       text-align: center;
    }
    @media(max-width:767px){
       padding: 2rem 0 0 0;
    }
  }
   h2 {
    @include font-size(12px);
    letter-spacing: 4px;
   }
   ul{
    margin-bottom: 0;
    li {
      @include font-size(11px);
      letter-spacing: 4px;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
      a{
        @include link;
      }
    }
    &.list-unstyled {
        margin: 10px 0 10px 0;
        }
    @media(max-width: 991px){
      &.list-unstyled {
        margin: 20px 0 20px 0;
        }
      }
   }
   section.copy{
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: -40px;
    background-color: $gris;
      ul{
        margin: 0;
        padding: 0;
        li{
          display:inline-block;
          margin-bottom: 0 10px;

          a{
            @include link;
          }
          @media(max-width:991px){
            &:nth-child(1){
              margin-bottom: 20px;

            }
            &:nth-child(2){
               margin-bottom: 20px;
            }

          }
          @media(max-width:767px){
            &:nth-child(2){
              margin-bottom: 0px;
            }
          }
          @media(max-width:453px){
            &:nth-child(3){
              margin-bottom: 20px;
            }
          }
        }
      }
        @media(max-width:991px){
         text-align: center;
      }
   }
}
