	.navbar-brand{

		position: absolute;
		display: block;
		top: 20px;
		z-index: 1000;
		height: auto;
		padding: 0;
		@media(max-width: 768px){
			left: 23px;
		}
		img#logo-desk{
			width: 170px;
			height: auto;
			transition: all ease-in-out 0.2s;
			@media(max-width: 768px){
				width: 130px;
			}
			@media(max-width: 767px){
				display: none;
			}
		}

	}
	.logo-xs{
		position: absolute;
		top: 24px;
		left: -15px;
		z-index: 100;
		@media(min-width: 768px){
			display: none;
		}
		@media(max-width: 767px){
			a{
				display:inline-block;
			}

		}
		img#logo-mobile{
			width: 220px;
		}
	}
#main-nav{
	margin-bottom: 0;
	background-color: $gris;
	border-radius: 0;
	border-color: $gris;
	min-height: 110px;
	position: relative;
	z-index: 1000;
	@media(max-width: 767px){
		min-height: 80px;
	}
		.search-wrapper{
			float: right;
			width: 100%;
			margin: 20px 0 20px 0;
			display:block;
			@media(max-width: 767px){
				margin: 40px 0 0 0;
				display: none;
			}
			form{
				margin: 0;
				padding: 0;
				box-shadow: none;
				&.navbar-form {
					border-top: none;
					border-bottom: none;
				}
				.form-control{
					border-radius: 0;
					height: 30px;
					border-color: transparent;
					background-color: $gris-oscuro;
					color: white;
					margin-right: 10px;
					@media(max-width: 767px){
						height: 60px;
					}
				}
			}
		}

		.search-wrapper-xs{
			@extend .search-wrapper;
			margin: 20px 0 0 0;
			form{
				.form-control{
					height: 30px;
				}
			}

			.bt-vino{
					background-color: #a53b69;
				    border-color: #a53b69;
				    border-radius: 0;


				&:hover, &:focus {
				    background-color: #682944;
				    border-color: #682944;
				    color: white;
				}
				@media(max-width: 767px){
					@include font-size(20px);
					width: 100%;
				}
			}
		}
		#navbar{

			@media(max-width: 767px){
				//padding-left: 30px;
				border-color: transparent;
				box-shadow: none;
				background-color: #1e1e1e;
				margin-top: 20px;

			}
			ul#nav-list{
				padding: 10px 15px;
				@media(max-width: 767px){
					padding: 20px 15px;
				}
				li{

					color: white;
					&.active{
						background-color: transparent;
					}
					&.active a {
						background-color: transparent;
						color: lighten($vino, 20%);
					}
					@media(max-width: 767px){
					 	margin-bottom: 20px;
					}
					a{

						@include link;
						color: white;
						text-transform: uppercase;
						@include font-size(16px);
						font-family: $montserrat;
						padding: 0 10px;
						line-height: normal;
						@media(max-width: 1023px){
							@include font-size(14px);
						}
						@media(max-width: 768px){
							@include font-size(12px);
						}
						@media(max-width: 767px){
							@include font-size(20px);
						}
					}
				}
			}
		}
		.navbar-toggle{
			margin-top: 18px;
		}

}
#sub-menu, #sub-menu-2{

	position: absolute;
	min-height: 440px;
	background: white;
	width: 100%;
	margin-top: 110px;
	z-index: 100;
	padding: 100px 0 0 0;
	background-color: white;
	opacity: 1;
	transition: all 0.5s ease-in-out;
	top: 0;
 	&.clander, &.clander2{margin-top: -1300px; opacity: 0;}
 	@media(max-width:767px){
		margin-top: 0;
 	}

}

#fig-header-reveal-wrapper {
  	display: none;
    position: absolute;
    right: 20px;
    top: 108px;
    //width: 50%;
    width: 60%;
    max-width: 700px;
   // padding: 3.125rem 2rem 1.875rem 2rem;
   	padding: 20px;
    z-index: 100;
    background-color: #fff;
     @media(max-width: 768px){
        	width: 75%;

        }
	&.chamber{
		display:block;
	}
    .fig-header-reveal-block {
        text-align: center;
        //padding: .9375rem;
        @media(min-width: 768px){
        	    padding: 0;
        }

        a{
        	display: inline-block;
        	cursor: pointer;
        	text-align: center;
        	@include link;
        	color: $gris-texto-caja-conacto;

        //	@include link;
        	span{
        		&.icon-Mail{
					background: url(../img/ico-email.svg) no-repeat;
					width: 36px;
					height: 25px;
					display:inline-block;
					vertical-align: top;
					margin-bottom: 15px;

        		}
        		&.icon-Phone{
					background: url(../img/ico-wasap.svg) no-repeat;
					width: 29px;
					height: 30px;
					display:inline-block;
					vertical-align: top;
					margin-bottom: 15px;
        		}
        		&.icon-Phone2{
					background: url(../img/ico-fono.svg) no-repeat;
					width: 25px;
					height: 40px;
					display:inline-block;
					vertical-align: top;
					margin-bottom: 7px;

        		}

        	}
    		p{
    			margin-bottom: 0;
    			padding: 0;
    			//line-height: 0;
    			margin-bottom: 10px;
    			&.text{
	    			font-family: $montserrat;
	    			font-weight: 600;
	    			text-transform: uppercase;
					@include font-size(10px);
					color: $gris-texto-caja-conacto;
    			}
    		}



		}
    }

}
#overlay{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	//display: block;
	z-index: 99;
	position: fixed;
	&.chamber{
		display: block;
	}
}


#sub-menu-experiences-container{

	background-color: $invierno;
	position: absolute;
    bottom: 0;
    width: 100%;
    @media(max-width: 768px){
    	position: relative;
    	padding: 30px;
    }
    .menu-list-wrapper{
    	position: relative;
		min-height: 90px;
		width: 100%;
	    ul{
			@include centerer(false, true);
			//width: 100%;
			width: 100%;
			display: block;
			padding:0;
			list-style-type: none;
	    	li{
				display: inline-block;
				padding: 0 6px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
	    		@media(max-width: 767px){
	    			margin-bottom: 8px;
	    			display: block;
	    			padding: 0px;
	    		}
	    		a{
	    			//display: inline-block;
	    			padding-top: 0;
	    			padding-bottom: 0;
					text-decoration: none;
					font-family: $prata;
	    			color: $vino;
	    			@include font-size(16px);
	    			 transition: all 0.3s ease-in-out;
	    			//@include link;
	    			&:hover{
	    				background-color: transparent;
	    				color: $gris-oscuro;

	    			}
	    			&:focus{
	    				background-color: transparent;
	    			}
	    			@media(max-width: 767px){
	    				@include font-size(18px);
	    			}
	    		}
	    	}
	    }
    }


}

