	.navbar-brand{

		position: absolute;
		display: block;
		top: 20px;
		z-index: 1000;
		height: auto;
		padding: 0;
		@media(max-width: 768px){
			left: 50px;
		}
		img#logo-desk{
			width: 170px;
			height: auto;
			@media(max-width: 768px){
				width: 130px;
			}
			@media(max-width: 767px){
				display: none;
			}
		}

	}
	.logo-xs{
		display: none;
		@media(max-width: 767px){
			display:block;
			//margin-bottom: 20px;
			//width: 130px;
		}
		img#logo-mobile{
			width: 60px;
			height: auto;
			position: absolute;
			top: 10px;
			@media(min-width: 768px){
				display: none;
			}
		}
	}
#main-nav{
	margin-bottom: 0;
	background-color: $gris;
	border-radius: 0;
	border-color: $gris;
	min-height: 110px;
	position: relative;
	z-index: 1000;
	@media(max-width: 767px){
		min-height: 80px;
	}
		.search-wrapper{
			float: right;
			width: 100%;
			margin: 20px 0 20px 0;
			display:block;
			@media(max-width: 767px){
				margin: 40px 0 0 0;
				display: none;
			}
			form{
				margin: 0;
				padding: 0;
				box-shadow: none;
				&.navbar-form {
					border-top: none;
					border-bottom: none;
				}
				.form-control{
					border-radius: 0;
					height: 30px;
					border-color: transparent;
					background-color: $gris-oscuro;
					color: white;
					margin-right: 10px;
					@media(max-width: 767px){
						height: 60px;
					}
				}
			}
		}
		.search-wrapper-xs{
			@extend .search-wrapper;
			display: block;
			@media(max-width: 767px){
				margin: 40px 0 0 0;
				display: none;
			}
			.bt-vino{
				@media(max-width: 767px){
					@include font-size(20px);
					width: 100%;
				}
			}
		}
		#navbar{

			@media(max-width: 767px){
				//padding-left: 30px;
				border-color: transparent;
				box-shadow: none;
				background-color: #1e1e1e;

			}
			ul#nav-list{
				padding: 10px 15px;
				@media(max-width: 767px){
					padding: 20px 15px;
				}
				li{

					color: white;
					&.active{
						background-color: transparent;
					}
					&.active a {
						background-color: transparent;
						color: lighten($vino, 20%);
					}
					@media(max-width: 767px){
					 	margin-bottom: 20px;
					}
					a{
						@include link;
						color: white;
						text-transform: uppercase;
						@include font-size(16px);
						font-family: $montserrat;
						padding: 0 10px;
						line-height: normal;
						@media(max-width: 1023px){
							@include font-size(14px);
						}
						@media(max-width: 767px){
							@include font-size(20px);
						}
					}
				}
			}
		}


}
#sub-menu, #sub-menu-2{

	position: absolute;
	min-height: 440px;
	background: white;
	width: 100%;
	margin-top: 110px;
	z-index: 100;
	padding: 100px 0 0 0;
	background-color: white;
	opacity: 1;
	transition: all 0.5s ease-in-out;
	top: 0;
 	&.clander, &.clander2{margin-top: -450px; opacity: 0;}

}

#sub-menu-experiences-container{

	background-color: $invierno;
	position: absolute;
    bottom: 0;
    width: 100%;
    @media(max-width: 768px){
    	position: relative;
    	padding: 30px;
    }
    .menu-list-wrapper{
    	position: relative;
		min-height: 90px;
		width: 100%;
	    ul{
			@include centerer(false, true);
			//width: 100%;
			width: 100%;
			display: block;
			padding:0;
			list-style-type: none;
	    	li{
				display: inline-block;
				padding: 0 6px;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					padding-right: 0;
				}
	    		@media(max-width: 767px){
	    			margin-bottom: 8px;
	    			display: block;
	    			padding: 0px;
	    		}
	    		a{
	    			//display: inline-block;
	    			padding-top: 0;
	    			padding-bottom: 0;
					text-decoration: none;
					font-family: $prata;
	    			color: $vino;
	    			@include font-size(16px);
	    			 transition: all 0.3s ease-in-out;
	    			//@include link;
	    			&:hover{
	    				background-color: transparent;
	    				color: $gris-oscuro;

	    			}
	    			&:focus{
	    				background-color: transparent;
	    			}
	    			@media(max-width: 767px){
	    				@include font-size(18px);
	    			}
	    		}
	    	}
	    }
    }


}












