section.slider-home {
   #slider-home {
        position: relative;
        overflow: hidden;
        @media(max-width: 767px){
			max-height: 300px;
        }
      .item {
            position: relative;
			video{
				width: 100% !important;
    			height: auto !important;
    			position: absolute;
    			top: 0;
    			left: 0;
    			max-width: 100%;
    			display: block;
			}
	    	.layer{
	    		position: absolute;
	    		left: 0;
	    		top: 0;
	    		width: 100%;
	    		height: 100%;
	    		background: #000;
	    		opacity: .2;
	    		z-index: 1;
	    	}
	    	.carousel-info{
	    	    @include centerer(true, true);
	    	    z-index: 2;
	    	    top: 36%;
	    	    width: 80%;

				@media(max-width:767px){
					&.info-xs{
						top: 27%;
					}
				}
	    	  	.carousel-info-inner{
	    	    	text-align: center;

	    	    	h2{
	    				font-family: $prata;
						color: white;
						@include font-size(60px);
						@media(max-width: 768px){
							@include font-size(35px);
						}
	    				@media(max-width: 767px){
	    					@include font-size(25px);
	    				}
	    	    	}
	    	    	h3{
	    				font-family: $prata;
						color: white;
						@include font-size(30px);
						@media(max-width: 768px){
							@include font-size(20px);
						}
						@media(max-width: 767px){
							@include font-size(15px);
						}
	    	    	}
	    	    	h4{
	    				font-family: $prata;
						color: white;
						@include font-size(60px);
						@media(max-width: 768px){
							@include font-size(40px);
						}
						@media(max-width: 767px){
							@include font-size(30px);
						}

	    	    	}
					p{
						letter-spacing: 3px;
						@include font-size(15px);
					}
	    	    }
	    	}

				.owl-video-wrapper {
	              //  min-height: 750px;
					overflow: hidden;
					width :100%;
					height:auto;
                  @media (max-width: 767px){
                      min-height: 400px;
                  }
          a{
              position: relative;
              &.item-video {


              }

          }
          .owl-video{
            display: block;
              }
              .owl-video-play-icon {
                  transition: transform .1s ease;
                &:hover {
                  transform: scale(1.3, 1.3);
                }
              }
              .owl-video-tn {

                //min-height: 750px;
                  @media (max-width: 767px){
                  //    min-height: 500px;
                  }
              }
        }
    	}

      .owl-nav{
        margin: 0;
        &.disabled {
          display: none;
        }
      }

      .owl-dots {
        margin-top: 16px;
        margin-bottom: 10px;
         &.disabled {
              display: none;
            }
        .owl-dot {
              span {
                 //border: 2px solid white;
                  background: $cafe;
                  border-radius: 50px;
                  height: 10px;
                  width: 10px;
                  cursor: pointer;
                  @media(max-width: 767px){
                      margin-left: 5px;
                      margin-right: 5px;
                  }
                }
          }
          .owl-dot.active {
              span {
                background-color: $rosa;
              }
          }

        } // dots
        .owl-next, .owl-prev {
               width:43px;
               height: 44px;
               position: absolute;
               text-indent: -9999px;
               top: 50%;
               margin-top: -30px;
               cursor:pointer;
                opacity: 0.9;
              // @include transition(all 0.2s ease-in-out);
                  &:hover {
                   background-color: transparent;
                   opacity: 0.5;
                 }
             @media (max-width:767px){
						top: 270px;
            }
        }

        .owl-next {
             background: url(../img/next.png) no-repeat !important;
             right: 30px;
                 @media (max-width:1024px){
                   right: 30px;
                   margin-top: -30px !important;
               }
                @media (max-width:768px){
                   right: 10px;
               }

        }
        .owl-prev {
             background: url(../img/prev.png) no-repeat !important;
             left: 30px;
             @media (max-width:1024px){
                 margin-top: -30px !important;
             }
               @media (max-width:768px){
                   left: 10px;
               }

        }

      } // slider home


  }







