* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

html { height: 100%; font-size: 100%; }

body { min-height: 100%; }

/*elimina el padding de las columnas*/
.no-gutter > [class*='col-'] { padding-right: 0; padding-left: 0; }

/* remover bordes de links
---------------------------------------*/
a:focus, input[type="text"] { outline: none !important; }

body { font-family: "Quicksand", Helvetica, Arial, sans-serif; }

.section { padding: 5rem 0 3rem 0; }

.bloque-blanco-top-content { display: block; width: 100%; min-height: 82px; background-color: #fff; position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); top: -80px; max-width: 1170px; z-index: 1; }

.bloque { margin-bottom: 0px; margin-top: 50px; }
.bloque h4 { font-family: "Prata", serif; color: #682944; text-transform: uppercase; font-size: 46px; font-size: 2.875rem; margin-bottom: 50px; }
.bloque p { font-family: "Montserrat", sans-serif; font-weight: 300; color: #616552; line-height: 28px; font-size: 15px; font-size: 0.9375rem; }
.bloque p a { color: #682944; text-decoration: none; }
.bloque .box-more { float: right; display: block; }
.bloque .box-more a { font-family: "Montserrat", sans-serif; font-size: 13px; font-size: 0.8125rem; color: #616552; text-transform: uppercase; display: inline-block; cursor: pointer; margin-right: 30px; letter-spacing: 9px; text-decoration: none; }
.bloque .box-more a:hover, .bloque .box-more a:focus { color: #313131; }

.pt-200 { padding-top: 200px; }

.mt-50 { margin-top: 50px; }

.bg-gris-2 { background-color: #f8f6ef; overflow: hidden; }

.box-padding { padding: 120px 0; }

.pl-50 { padding-left: 50px; }
@media (max-width: 768px) { .pl-50 { padding-left: 15px; } }

.title-about { padding-top: 30px; }
.title-about img { margin: 30px auto; }

.title-vino { color: #682944; font-family: "Montserrat", sans-serif; letter-spacing: 4px; text-align: center; font-size: 22px; font-size: 1.375rem; margin: 20px auto; }

.picture-r { position: relative; }
.picture-r .picture { z-index: 1; position: absolute; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); right: 30px; }
.picture-r .bg-picture-r { background-color: #e2ddbe; position: relative; width: 85%; float: right; display: block; z-index: 0; min-height: 350px; }

.position-relative { position: relative !important; }

.position-absolute { position: absolute !important; }

.divisor { display: block; height: 2px; }

.link { transition: all 0.2s ease-in-out; color: #000000; cursor: pointer; text-transform: uppercase; letter-spacing: 4px; display: inline-block; font-size: 10px; font-size: 0.625rem; border-bottom: 1px solid #000000; margin-top: 30px; line-height: 20px; }
.link:hover, .link:focus { text-decoration: none; color: #682944; }
.link:hover { border-bottom-color: #86754D; }

#return-to-top { position: absolute; bottom: -55px; right: 15px; display: block; text-decoration: none; display: block; display: none; transition: all 0.3s ease; z-index: 100; font-weight: 400; color: black; font-size: 11px; font-size: 0.6875rem; letter-spacing: 4px; text-transform: uppercase; }
#return-to-top .fa-chevron-up { color: #fff; margin: 0; position: absolute; position: absolute; right: 0; top: -20px; font-size: 18px; color: black; transition: all 0.3s ease; }
#return-to-top:hover .fa-chevron-up { top: -24px; }

.overflow-hidden { overflow: hidden !important; display: block; }

.negrita { font-weight: bold; }

.underline { display: inline-block; line-height: 8px; border-bottom: 1px solid #000000; padding: 0 0 7px 0; }

.no-padding { padding: 0 !important; display: block !important; }
@media (max-width: 991px) { .no-padding { padding-left: 15px !important; padding-right: 15px !important; } }

.no-margin { margin: 0 !important; display: block !important; }

.clear { clear: both; }

.bg-gris { background-color: #313131; }

.bg-blue { background-color: blue; }

input[type="email"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */ font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; text-align: center; }
@media (max-width: 1024px) { input[type="email"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { font-size: 11px; font-size: 0.6875rem; } }

input[type="email"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder { /* Firefox 19+ */ font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; text-align: center; }
@media (max-width: 1024px) { input[type="email"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder { font-size: 11px; font-size: 0.6875rem; } }

input[type="email"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder { /* IE 10+ */ font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; text-align: center; }
@media (max-width: 1024px) { input[type="email"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder { font-size: 11px; font-size: 0.6875rem; } }

input[type="email"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder { /* Firefox 18- */ font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; text-align: center; }
@media (max-width: 1024px) { input[type="email"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder { font-size: 11px; font-size: 0.6875rem; } }

.linea { width: 100%; height: 2px; border-top: 1px solid #86754D; display: block; }

.titulo-con-imagen { background-color: white; display: inline-block; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 0; height: 28px; padding: 0 40px; z-index: 1; }
.titulo-con-imagen h3 { font-weight: 400; color: #86754D; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; display: inline-block; text-align: center; margin: 0; z-index: 1; }
.titulo-con-imagen .hojas { width: 151px; height: 68px; background: url(../img/hojas.svg) no-repeat; background-position: center bottom; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 10; z-index: -1; }

/*set a border on the images to prevent shifting*/
.img-zoom-wrapper { position: relative; }
.img-zoom-wrapper .fa-search-plus { position: absolute; right: 15px; bottom: 15px; color: #000000; }

.uppercase { text-transform: uppercase !important; }

.uppercase-bold { font-family: "Quicksand", Helvetica, Arial, sans-serif !important; font-size: 13px; font-size: 0.8125rem; color: #000000 !important; text-transform: uppercase !important; font-weight: 700 !important; }

.texto-valor { font-family: "Quicksand", Helvetica, Arial, sans-serif !important; font-size: 15px; font-size: 0.9375rem; color: #000000 !important; text-transform: uppercase !important; font-weight: 700 !important; }

.divisor { width: 100%; padding: 0 15px; height: 2px; border-top: 1px solid #000000; margin: 30px 15px; }

td.border-top-cafe { border-top: 1px solid #86754D !important; }

.bt-vino { background-color: #682944; border-color: #431b2c; font-size: 12px; font-size: 0.75rem; text-transform: uppercase; color: white; border-radius: 0; transition: all 0.2s ease-in-out; }
.bt-vino:hover, .bt-vino:active, .bt-vino:focus { background-color: black; border-color: black; color: white; }

.bt-submit { background-color: #a53b69; border-color: #7f2e51; font-size: 18px; font-size: 1.125rem; text-transform: uppercase; color: white; border-radius: 0; transition: all 0.2s ease-in-out; width: 170px; height: 60px; font-family: "Montserrat", sans-serif; }
.bt-submit:hover, .bt-submit:active, .bt-submit:focus { background-color: #341321; border-color: #341321; color: white; }

.navbar-brand { position: absolute; display: block; top: 20px; z-index: 1000; width: 170px; height: auto; padding: 0; }
.navbar-brand img { width: 170px; height: auto; }

#main-nav { margin-bottom: 0; background-color: #313131; border-radius: 0; border-color: #313131; min-height: 110px; }
#main-nav .search-wrapper { float: right; width: 100%; margin: 20px 0 20px 0; }
#main-nav .search-wrapper form { margin: 0; padding: 0; }
#main-nav .search-wrapper form.navbar-form { border-top: none; border-bottom: none; }
#main-nav .search-wrapper form .form-control { border-radius: 0; height: 30px; border-color: transparent; background-color: #282828; color: white; margin-right: 10px; }
#main-nav ul li { color: white; }
#main-nav ul li.active { background-color: transparent; }
#main-nav ul li.active a { background-color: transparent; color: #b14674; }
#main-nav ul li a { transition: all 0.2s ease-in-out; color: #000000; cursor: pointer; color: white; text-transform: uppercase; font-size: 16px; font-size: 1rem; font-family: "Montserrat", sans-serif; padding: 0 10px; line-height: normal; }
#main-nav ul li a:hover, #main-nav ul li a:focus { text-decoration: none; color: #682944; }

#sub-menu { position: absolute; min-height: 440px; background: white; width: 100%; top: 110px; z-index: 100; padding: 100px 0 0 0; background-color: white; }

#sub-menu-experiences-container { background-color: #f7f5f6; position: absolute; bottom: 0; width: 100%; }
#sub-menu-experiences-container .menu-list-wrapper { position: relative; min-height: 90px; }
#sub-menu-experiences-container .menu-list-wrapper ul { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#sub-menu-experiences-container .menu-list-wrapper ul li a { padding-top: 0; padding-bottom: 0; text-decoration: none; font-family: "Prata", serif; color: #682944; font-size: 16px; font-size: 1rem; transition: all 0.3s ease-in-out; }
#sub-menu-experiences-container .menu-list-wrapper ul li a:hover { background-color: transparent; color: #282828; }
#sub-menu-experiences-container .menu-list-wrapper ul li a:focus { background-color: transparent; }

section#intro .uva { background: url(../img/uvas.png) no-repeat; background-position: center; background-size: cover; position: absolute; right: 0; top: 440px; width: 138px; height: 376px; }
section#intro .vina { background: url(../img/vina.png) no-repeat; background-position: center; background-size: cover; position: absolute; right: 0; top: 180px; width: 519px; height: 188px; }
section#intro .parra { background: url(../img/rama.png) no-repeat; background-position: center; background-size: cover; position: absolute; left: 0; top: 0; width: 220px; height: 272px; }

section#guided #img-chile { position: absolute; bottom: -570px; }

section#recomended { padding: 30px 0; }
section#recomended h3 { text-transform: uppercase; font-size: 15px; font-size: 0.9375rem; font-family: "Montserrat", sans-serif; text-align: center; margin-bottom: 40px; }

a { display: inline-block; }
a.back { background: url(../img/arrow-left.svg) no-repeat; display: block; width: 13px; height: 24px; background-size: cover; background-position: center; float: left; margin-right: 10px; }

.form-section { margin-bottom: 3rem; }
.form-section img { margin-bottom: 20px; }
.form-section h2 { font-weight: 400; color: #000000; font-size: 24px; font-size: 1.5rem; letter-spacing: 4px; margin-bottom: 30px; line-height: 24px; }
.form-section p { font-weight: 400; color: #000000; font-size: 13px; font-size: 0.8125rem; letter-spacing: 4px; margin-bottom: 0; margin-bottom: 0.5rem; }
.form-section p a { transition: all 0.2s ease-in-out; color: #000000; cursor: pointer; font-size: 13px; font-size: 0.8125rem; font-weight: bold; color: #ECCCD0 !important; text-transform: uppercase; border-bottom: 1px solid #ECCCD0; padding-bottom: 2px; display: inline-block; }
.form-section p a:hover, .form-section p a:focus { text-decoration: none; color: #682944; }
.form-section p a:hover { color: #86754D !important; border-bottom-color: #86754D; }
.form-section label { margin-bottom: 20px !important; text-transform: uppercase; letter-spacing: 4px; font-size: 13px; font-size: 0.8125rem; }

form#form-suscribe { border: 1px solid #000000; }
form#form-suscribe.form-inline { display: block; }
form#form-suscribe.form-inline .form-control { border: none; background-color: transparent; }
form#form-suscribe.form-inline .btn-primary { background-color: #000000; border: none; text-transform: uppercase; color: white; font-weight: 400; color: white; font-size: 11px; font-size: 0.6875rem; border-radius: 0; letter-spacing: 4px; cursor: pointer; }

section.crear-cuenta { background-color: #ECCCD0; padding-bottom: 45px; }
section.crear-cuenta h2 { font-weight: 400; color: black; font-size: 36px; font-size: 2.25rem; text-transform: uppercase; text-align: center; letter-spacing: 4px; padding: 45px 0; border-bottom: 1px solid #000000; }
section.crear-cuenta p { font-size: 11px; font-size: 0.6875rem; color: black; letter-spacing: 4px; text-align: center; }

form#form-crear-cuenta, form#form-modal-news-letter { margin: 0 auto; max-width: 700px; padding: 50px 0 20px 0; }
form#form-crear-cuenta label, form#form-modal-news-letter label { text-transform: uppercase; font-weight: 400; color: black; font-size: 13px; font-size: 0.8125rem; letter-spacing: 4px; }
form#form-crear-cuenta .form-control, form#form-modal-news-letter .form-control { border: 1px solid black; border-radius: 0; }
form#form-crear-cuenta .boton-negro, form#form-modal-news-letter .boton-negro { background-color: #000000; border: none; text-transform: uppercase; color: white; font-weight: 400; color: white; font-size: 11px; font-size: 0.6875rem; border-radius: 0; letter-spacing: 4px; cursor: pointer; font-size: 13px; font-size: 0.8125rem; padding-left: 50px; padding-right: 50px; }
@media (max-width: 518px) { form#form-crear-cuenta .boton-negro, form#form-modal-news-letter .boton-negro { margin-top: 20px; } }

form#form-modal-news-letter { padding-top: 20px; max-width: 80%; }

/*==== form info ====*/
#form-info .form-control { border: 1px solid #000000; border-radius: 0 !important; }
#form-info select { border-radius: 0; }
#form-info select.form-control { border: 1px solid #000000; text-transform: uppercase; letter-spacing: 4px; font-size: 14px; font-size: 0.875rem; border: 1px solid #000000; font-size: 12px; }
#form-info .btn-comprar { background-color: #000000; border: none; text-transform: uppercase; color: white; font-weight: 400; color: white; font-size: 11px; font-size: 0.6875rem; border-radius: 0; letter-spacing: 4px; cursor: pointer; width: 100%; padding: 10px 0; margin-top: 10px; font-size: 13px; font-size: 0.8125rem; }

#form-carro input[type="email"]::-webkit-input-placeholder, #form-carro input[type="text"]::-webkit-input-placeholder, #form-carro input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */ font-weight: 700; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; text-align: left; }
@media (max-width: 1024px) { #form-carro input[type="email"]::-webkit-input-placeholder, #form-carro input[type="text"]::-webkit-input-placeholder, #form-carro input[type="password"]::-webkit-input-placeholder { font-size: 11px; font-size: 0.6875rem; } }
#form-carro input[type="email"]::-moz-placeholder, #form-carro input[type="text"]::-moz-placeholder, #form-carro input[type="password"]::-moz-placeholder { /* Firefox 19+ */ font-weight: 700; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; text-align: left; }
@media (max-width: 1024px) { #form-carro input[type="email"]::-moz-placeholder, #form-carro input[type="text"]::-moz-placeholder, #form-carro input[type="password"]::-moz-placeholder { font-size: 11px; font-size: 0.6875rem; } }
#form-carro input[type="email"]:-ms-input-placeholder, #form-carro input[type="text"]:-ms-input-placeholder, #form-carro input[type="password"]:-ms-input-placeholder { /* IE 10+ */ font-weight: 700; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; text-align: left; }
@media (max-width: 1024px) { #form-carro input[type="email"]:-ms-input-placeholder, #form-carro input[type="text"]:-ms-input-placeholder, #form-carro input[type="password"]:-ms-input-placeholder { font-size: 11px; font-size: 0.6875rem; } }
#form-carro input[type="email"]:-moz-placeholder, #form-carro input[type="text"]:-moz-placeholder, #form-carro input[type="password"]:-moz-placeholder { /* Firefox 18- */ font-weight: 700; color: #000000; font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 4px; text-align: left; }
@media (max-width: 1024px) { #form-carro input[type="email"]:-moz-placeholder, #form-carro input[type="text"]:-moz-placeholder, #form-carro input[type="password"]:-moz-placeholder { font-size: 11px; font-size: 0.6875rem; } }
#form-carro .form-control { text-align: left; border: none; border-radius: 0 !important; }
#form-carro .form-control:hover, #form-carro .form-control:focus { outline: none; }

section.slider-home { /* slider */ }
section.slider-home #slider-home { position: relative; overflow: hidden; }
section.slider-home #slider-home .item { position: relative; }
section.slider-home #slider-home .owl-nav { margin: 0; }
section.slider-home #slider-home .owl-nav.disabled { display: none; }
section.slider-home #slider-home .owl-dots { margin-top: 16px; margin-bottom: 10px; }
section.slider-home #slider-home .owl-dots.disabled { display: none; }
section.slider-home #slider-home .owl-dots .owl-dot span { background: #86754D; border-radius: 50px; height: 10px; width: 10px; cursor: pointer; }
@media (max-width: 767px) { section.slider-home #slider-home .owl-dots .owl-dot span { margin-left: 5px; margin-right: 5px; } }
section.slider-home #slider-home .owl-dots .owl-dot.active span { background-color: #ECCCD0; }
section.slider-home #slider-home .owl-next, section.slider-home #slider-home .owl-prev { width: 43px; height: 44px; position: absolute; text-indent: -9999px; top: 50%; margin-top: -30px; cursor: pointer; opacity: 0.9; }
section.slider-home #slider-home .owl-next:hover, section.slider-home #slider-home .owl-prev:hover { background-color: transparent; opacity: 0.5; }
section.slider-home #slider-home .owl-next { background: url(../img/next.png) no-repeat !important; right: 30px; }
@media (max-width: 1024px) { section.slider-home #slider-home .owl-next { right: 30px; margin-top: -30px !important; } }
@media (max-width: 768px) { section.slider-home #slider-home .owl-next { right: 10px; } }
section.slider-home #slider-home .owl-prev { background: url(../img/prev.png) no-repeat !important; left: 30px; }
@media (max-width: 1024px) { section.slider-home #slider-home .owl-prev { margin-top: -30px !important; } }
@media (max-width: 768px) { section.slider-home #slider-home .owl-prev { left: 10px; } }
section.slider-home .slider { position: relative; }
section.slider-home .slider .layer { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .2; z-index: 1; }
section.slider-home .slider .carousel-info { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 2; top: 35%; }
section.slider-home .slider .carousel-info .carousel-info-inner { text-align: center; }
section.slider-home .slider .carousel-info .carousel-info-inner h2 { font-family: "Prata", serif; color: white; font-size: 80px; font-size: 5rem; margin: 0; }
@media (max-width: 767px) { section.slider-home .slider .carousel-info .carousel-info-inner h2 { font-size: 30px; font-size: 1.875rem; } }
section.slider-home .slider .carousel-info .carousel-info-inner h3 { font-family: "Prata", serif; color: white; font-size: 30px; font-size: 1.875rem; }
@media (max-width: 767px) { section.slider-home .slider .carousel-info .carousel-info-inner h3 { font-size: 15px; font-size: 0.9375rem; } }

section.about { margin-bottom: 3rem; }
@media (max-width: 1024px) { section.about img { margin: 0 auto; width: 100%; } }
section.about .content-about { background-color: #313131; padding: 6rem 3rem 2rem 3rem; }
@media (max-width: 1024px) { section.about .content-about { padding: 3rem; } }
@media (max-width: 1023px) { section.about .content-about { padding: 2rem; } }
section.about .content-about p { font-size: 15px; font-size: 0.9375rem; }

.caluga { overflow: hidden; -webkit-box-shadow: -5px 2px 20px -1px rgba(0, 0, 0, 0.35); -moz-box-shadow: -5px 2px 20px -1px rgba(0, 0, 0, 0.35); box-shadow: -5px 2px 20px -1px rgba(0, 0, 0, 0.35); }
@media (max-width: 767px) { .caluga { margin-bottom: 15px; } }
.caluga a.caluga-enlace { position: relative; display: block; cursor: pointer; }
.caluga a.caluga-enlace .lente { width: 100%; height: 100%; display: inline-block; background-color: rgba(0, 0, 0, 0.6); transition: all 0.3s ease-in-out; position: absolute; top: 0; z-index: 1; }
.caluga a.caluga-enlace .lente:hover { background-color: rgba(0, 0, 0, 0.3); }
.caluga a.caluga-enlace .caluga-title { font-weight: 400; color: #ffffff; font-size: 18px; font-size: 1.125rem; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity: 1; transition: all 0.3s ease-in-out; z-index: 1; margin: 0; font-family: "Montserrat", sans-serif; text-align: center; width: 80%; line-height: normal; }
.caluga a.caluga-enlace .caluga-title:hover .lente { background-color: rgba(0, 0, 0, 0.3); }
.caluga a.caluga-enlace .caluga-img { transform: scale(1); transition: all 0.5s ease-in-out; width: 100%; }
@media (min-width: 1025px) { .caluga a.caluga-enlace:hover .caluga-img { transform: scale(1.07); } }

/*== modal newsletter == */
#modal-news-letter .modal-dialog, #modal-login .modal-dialog { position: relative; margin-top: 100px; padding: 10px; background-color: #fff; }
@media (min-width: 576px) { #modal-news-letter .modal-dialog, #modal-login .modal-dialog { max-width: 650px; } }
#modal-news-letter .modal-dialog .modal-content, #modal-login .modal-dialog .modal-content { position: relative; border-radius: 0; border: 2px solid #000000; }
#modal-news-letter .modal-dialog .modal-content img.hojas, #modal-login .modal-dialog .modal-content img.hojas { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 374.415px; max-width: 100%; height: 169.827px; z-index: 0; top: 210px; z-index: -1; }
#modal-news-letter .modal-dialog .modal-content .modal-header, #modal-login .modal-dialog .modal-content .modal-header { border-bottom-color: white; }
#modal-news-letter .modal-dialog .modal-content .modal-header button.close, #modal-login .modal-dialog .modal-content .modal-header button.close { background: url(../img/close.svg) no-repeat; position: absolute; right: 30px; top: 30px; cursor: pointer; display: block; z-index: 3; }
#modal-news-letter .modal-dialog .modal-content .modal-body, #modal-login .modal-dialog .modal-content .modal-body { z-index: 1; }
#modal-news-letter .modal-dialog .modal-content .modal-body h3, #modal-login .modal-dialog .modal-content .modal-body h3 { font-weight: 400; color: #000000; font-size: 36px; font-size: 2.25rem; text-transform: uppercase; text-align: center; letter-spacing: 4px; }
@media (max-width: 768px) { #modal-news-letter .modal-dialog .modal-content .modal-body h3, #modal-login .modal-dialog .modal-content .modal-body h3 { font-size: 30px; font-size: 1.875rem; } }
#modal-news-letter .modal-dialog .modal-content .modal-body p, #modal-login .modal-dialog .modal-content .modal-body p { text-align: center; font-size: 13px; font-size: 0.8125rem; margin-bottom: 0; }
#modal-news-letter .modal-dialog .modal-content .modal-footer, #modal-login .modal-dialog .modal-content .modal-footer { border-top-color: white; }

/*== modal login == */
#modal-login .modal-dialog .modal-content img.hojas { top: 130px; }
#modal-login .modal-body { text-align: center; }
#modal-login .modal-body h3 { margin-bottom: 30px; }
#modal-login .modal-body #form-modal-login { max-width: 80%; margin: 0 auto; }
#modal-login .modal-body #form-modal-login .form-control { border: 1px solid #000000; border-radius: 0; }
#modal-login .modal-body .boton-negro { background-color: #000000; border: none; text-transform: uppercase; color: white; font-weight: 400; color: white; font-size: 11px; font-size: 0.6875rem; border-radius: 0; letter-spacing: 4px; cursor: pointer; margin-top: 30px; }

/*== modal producto == */
#modal-producto .modal-dialog { padding: 10px; background-color: white; position: relative; margin-top: 100px; }
@media (min-width: 576px) { #modal-producto .modal-dialog { max-width: 650px; } }
#modal-producto .modal-dialog .modal-content { position: relative; border-radius: 0; border: 2px solid #000000; overflow: hidden; }
#modal-producto .modal-dialog .modal-content .modal-header { border-radius: 0; border-bottom-color: white; position: relative; background-color: #313131; width: 100%; position: relative; padding: 0; min-height: 30px; }
#modal-producto .modal-dialog .modal-content .modal-header .indicador-carrito { position: absolute; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); left: auto; right: 0; top: 13px; }
#modal-producto .modal-dialog .modal-content .modal-header .indicador-carrito p { display: inline-block; letter-spacing: 4px; text-transform: uppercase; font-size: 12px; font-size: 0.75rem; margin: 0; }
#modal-producto .modal-dialog .modal-content .modal-header .indicador-carrito .fa-circle { font-size: 24px; margin-top: 3px; }
#modal-producto .modal-dialog .modal-content .modal-header .indicador-carrito .fa-inverse { font-family: "Quicksand", Helvetica, Arial, sans-serif; font-weight: 400; color: white; font-size: 12px; margin-top: -1px; }
#modal-producto .modal-dialog .modal-content .modal-body { z-index: 1; }
#modal-producto .modal-dialog .modal-content .modal-body img { margin-bottom: 30px; }
#modal-producto .modal-dialog .modal-content .modal-body h3 { font-weight: 400; color: #000000; font-size: 14px; font-size: 0.875rem; text-transform: uppercase; text-align: center; letter-spacing: 4px; margin-bottom: 40px; }
#modal-producto .modal-dialog .modal-content .modal-body h2 { font-weight: 300; color: #000000; font-size: 26px; font-size: 1.625rem; text-transform: uppercase; letter-spacing: 4px; }
#modal-producto .modal-dialog .modal-content .modal-body p { font-weight: 700; color: #000000; font-size: 26px; font-size: 1.625rem; margin-bottom: 0; letter-spacing: 4px; }
#modal-producto .modal-dialog .modal-content .modal-body .boton-negro { background-color: #000000; border: none; text-transform: uppercase; color: white; font-weight: 400; color: white; font-size: 11px; font-size: 0.6875rem; border-radius: 0; letter-spacing: 4px; cursor: pointer; display: inline-block; font-size: 14px; margin: 1rem 0; }
#modal-producto .modal-dialog .modal-content .modal-footer { border-top-color: white; }

footer { background-color: #313131; min-height: 330px; padding: 3rem 0 3rem 0; position: relative; }
@media (max-width: 768px) { footer { padding: 0 0 1.5rem 0; } }
footer .box-news-letter { margin-bottom: 30px; }
footer .box-news-letter .texto-sobre { margin-top: 10px; }
footer .box-news-letter .texto-sobre img#sobre { float: left; }
footer .box-news-letter .texto-sobre p { font-family: "Montserrat", sans-serif; color: #a53a68; text-transform: uppercase; font-size: 18px; font-size: 1.125rem; padding-left: 70px; line-height: 20px; }
footer .box-news-letter .form-control { border-radius: 0; height: 60px; }
footer .box-links-footer { padding: 0 30px; }
footer .box-links-footer h4 { color: #e3dcd9; font-size: 14px; font-size: 0.875rem; text-transform: uppercase; margin-bottom: 14px; }
footer .box-links-footer ul { margin-bottom: 0; list-style-type: none; padding: 0; }
footer .box-links-footer ul li { font-size: 12px; font-size: 0.75rem; margin-bottom: 2px; color: white; font-family: "Montserrat", sans-serif; }
footer .box-links-footer ul li:last-child { margin-bottom: 0; }
footer .box-links-footer ul li a { transition: all 0.2s ease-in-out; color: #000000; cursor: pointer; color: white; }
footer .box-links-footer ul li a:hover, footer .box-links-footer ul li a:focus { text-decoration: none; color: #682944; }
footer p.copy { text-align: left; position: relative; font-family: "Montserrat", sans-serif; font-size: 10px; font-size: 0.625rem; text-transform: uppercase; color: #313131; }
@media (max-width: 991px) { footer p.copy { text-align: center; } }

.rrss-container { min-height: 70px; padding-top: 20px; }

ul.rrss { margin: 0; padding: 0; float: right; }
ul.rrss li { display: inline-block; margin-right: 15px; }
ul.rrss li a { transition: all 0.2s ease-in-out; color: #000000; cursor: pointer; opacity: 1; }
ul.rrss li a:hover, ul.rrss li a:focus { text-decoration: none; color: #682944; }
ul.rrss li a:hover, ul.rrss li a:focus { opacity: 0.8; }
