//colores sitio

$gris:#313131;
$gris-claro: #f8f6ef;
$gris-borde: #c5c5c5;
$gris-oscuro: #282828;
$invierno: #f7f5f6;
$gris-caja: #f0eeee;
$gris-texto-caja-conacto: #414141;
$gris-testimonio: #383838;
$rosa:#ECCCD0;
$cafe: #86754D;
$negro: #000000;
$vino: #682944;
$verde: #616552;
$crema: #e3dcd9;










