//colores sitio

$gris:#313131;
$gris-claro: #f8f6ef;
$gris-oscuro: #282828;
$invierno: #f7f5f6;
$rosa:#ECCCD0;
$cafe: #86754D;
$negro: #000000;
$vino: #682944;
$verde: #616552;
$crema: #e3dcd9;










